# <span style="color:orange">Pandas</span>

widely used for data manipulation and analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
x1=np.random.randint(1,50,10)
print("x1 = ",x1)

x1 =  [33  9 11 43 48 10 11 12 19 36]

In [4]:
sd1=pd.Series(x1)
print(sd1)

0    33
1     9
2    11
3    43
4    48
5    10
6    11
7    12
8    19
9    36
dtype: int64

In [5]:
x2=np.random.randint(25,100,5)
sd2=pd.Series(x2,index=["Tamil","English","Math","Science","Social"],name="hari_mark")
print(sd2)

Tamil      73
English    38
Math       82
Science    71
Social     37
Name: hari_mark, dtype: int64

In [6]:
d1={"suppu":[56,31,56],"hari":[65,63,48]}
sd3=pd.Series(d1)
print(sd3)

suppu    [56, 31, 56]
hari     [65, 63, 48]
dtype: object

In [7]:
sd2[["Tamil","English"]]

Tamil      73
English    38
Name: hari_mark, dtype: int64

In [8]:
x3={"laptop":["i7","8GB","1TB"],"mobile":["snapdragon","6GB","128"]}
ds1=pd.DataFrame(x3)
print(ds1)

  laptop      mobile
0     i7  snapdragon
1    8GB         6GB
2    1TB         128

In [9]:
x4={"laptop":["i7","8GB","1TB"],"mobile":["snapdragon","6GB","128"]}
ds2=pd.DataFrame(x4,index=["processor","RAM","Memory"])
print(ds2)

          laptop      mobile
processor     i7  snapdragon
RAM          8GB         6GB
Memory       1TB         128

In [10]:
ds2.insert(0,"PC",["i9","32GB","2TB"])

In [11]:
ds2

             PC laptop      mobile
processor    i9     i7  snapdragon
RAM        32GB    8GB         6GB
Memory      2TB    1TB         128

In [12]:
ds2["PC"]

processor      i9
RAM          32GB
Memory        2TB
Name: PC, dtype: object

In [18]:
ds2.loc['RAM']

PC        32GB
laptop     8GB
mobile     6GB
Name: RAM, dtype: object

In [19]:
ds2.iloc[2]

PC        2TB
laptop    1TB
mobile    128
Name: Memory, dtype: object

In [21]:
ds3=pd.read_excel("all_shifts.xlsx")

In [22]:
ds3

     Shift Region Sales Rep  Product  Cost per  Units Sold
0        1  South    Meggan    Paper        15         163
1        1  South    Charis  Stapler        25         108
2        1  South    Shayne   Pencil         5         118
3        1  North   Krystin      Pen        10          37
4        1  South       Leo    Paper        15         131
..     ...    ...       ...      ...       ...         ...
293      3  South     Willa      Pen        10          42
294      3   West    Shayne    Paper        15         168
295      3   East    Adrian   Binder        30         132
296      3   East     Willa    Paper        15         111
297      3   East     Diann   Folder        17         151

[298 rows x 6 columns]

In [23]:
ds3.head()

   Shift Region Sales Rep  Product  Cost per  Units Sold
0      1  South    Meggan    Paper        15         163
1      1  South    Charis  Stapler        25         108
2      1  South    Shayne   Pencil         5         118
3      1  North   Krystin      Pen        10          37
4      1  South       Leo    Paper        15         131

In [24]:
ds3.tail()

     Shift Region Sales Rep Product  Cost per  Units Sold
293      3  South     Willa     Pen        10          42
294      3   West    Shayne   Paper        15         168
295      3   East    Adrian  Binder        30         132
296      3   East     Willa   Paper        15         111
297      3   East     Diann  Folder        17         151

In [27]:
ds3[ds3["Region"]=="North"]  # to sort region == north

     Shift Region Sales Rep  Product  Cost per  Units Sold
3        1  North   Krystin      Pen        10          37
6        1  North   Estelle  Stapler        25         129
8        1  North       Ami  Stapler        25         139
15       1  North    Delpha    Paper        15          75
19       1  North     Jimmy   Pencil         5         167
..     ...    ...       ...      ...       ...         ...
261      3  North   Dorthea   Pencil         5         125
263      3  North     Betsy   Folder        17         168
269      3  North    Odilia  Stapler        25         200
273      3  North       Ami   Folder        17         185
283      3  North     Jimmy  Stapler        25         190

[79 rows x 6 columns]

In [28]:
ds3[ds3["Product"]=="Pen"]

     Shift Region Sales Rep Product  Cost per  Units Sold
3        1  North   Krystin     Pen        10          37
7        1   East    Delpha     Pen        10         100
9        1   West   Cristen     Pen        10         144
11       1  South    Shelli     Pen        10         196
12       1   West   Deandra     Pen        10          73
16       1   West  Claudine     Pen        10         131
17       1  South    Martha     Pen        10          49
24       1   East     Nolan     Pen        10         168
28       1   West    Shelli     Pen        10          38
35       1   East   Dorthea     Pen        10          85
38       1  North      Nola     Pen        10          42
55       1   West   Lisbeth     Pen        10         170
64       1   West    Charis     Pen        10         137
69       1   West    Damion     Pen        10          55
71       1   East  Shirlene     Pen        10         132
85       1   West    Winter     Pen        10         184
91       1   East     Diann     Pen        10          63
92       1  North    Lashon     Pen        10         191
100      2  North     Tyree     Pen        10          83
103      2   West  Willette     Pen        10         117
104      2  North    Damion     Pen        10         125
108      2   West   Cordell     Pen        10         108
111      2  South    Jammie     Pen        10         180
112      2  South     Chaya     Pen        10         102
135      2  South     Tyree     Pen        10         162
136      2  North      Dina     Pen        10          61
141      2  North  Anderson     Pen        10          93
142      2   West      Raye     Pen        10         151
146      2  South    Damion     Pen        10         122
150      2   West   Deandra     Pen        10         115
152      2  South    Shayne     Pen        10          87
158      2  North  Jesusita     Pen        10         163
174      2  North  Jesusita     Pen        10         126
175      2  South     Jimmy     Pen        10         145
181      2   East    Adrian     Pen        10          63
183      2   East    Martha     Pen        10          44
206      3   West   Deandra     Pen        10         135
216      3   East       Ami     Pen        10          67
238      3   West      Dina     Pen        10          59
239      3  South  Anderson     Pen        10         138
245      3   West  Jesusita     Pen        10          59
253      3  North   Racquel     Pen        10          87
254      3   East     Tyree     Pen        10          82
260      3   West       Von     Pen        10         176
270      3   East      Raye     Pen        10          87
274      3  South      Kaci     Pen        10          88
278      3  South    Kelvin     Pen        10         101
279      3   West      Lola     Pen        10         185
282      3  South    Keitha     Pen        10         135
284      3   East    Shelli     Pen        10         112
286      3   West   Deandra     Pen        10          78
292      3   West   Estelle     Pen        10          83
293      3  South     Willa     Pen        10          42

In [29]:
ds3[ds3["Units Sold"]>180]

     Shift Region Sales Rep  Product  Cost per  Units Sold
11       1  South    Shelli      Pen        10         196
51       1   West      Dina   Folder        17         183
54       1  South   Dorthea   Binder        30         191
57       1  North     Nisha   Folder        17         195
58       1  North    Delpha   Folder        17         198
67       1   East     Jimmy   Folder        17         193
75       1  South     Tyree    Paper        15         197
77       1   East   Cristen   Binder        30         182
78       1  North     Willa    Paper        15         200
83       1   West     Betsy  Stapler        25         187
85       1   West    Winter      Pen        10         184
92       1  North    Lashon      Pen        10         191
96       1  North  Jesusita   Binder        30         200
102      2   East     Caleb   Binder        30         186
122      2   West     Tyree  Stapler        25         186
126      2   East     Betsy    Paper        15         186
153      2   West  Anderson   Pencil         5         182
156      2  South     Nolan   Folder        17         200
157      2  North    Jammie  Stapler        25         194
159      2   West     Willa    Paper        15         193
160      2  North    Keitha  Stapler        25         181
164      2  South   Cristen   Binder        30         185
193      2   West  Anderson   Binder        30         187
201      3   West    Shelli   Folder        17         185
210      3   West  Shirlene   Folder        17         191
215      3  North   Cordell  Stapler        25         196
222      3  South      Raye   Pencil         5         195
225      3  South    Meggan   Pencil         5         191
228      3   West   Cordell  Stapler        25         182
237      3  South    Lashon  Stapler        25         182
264      3   East      Raye   Pencil         5         184
267      3  South    Damion   Folder        17         182
269      3  North    Odilia  Stapler        25         200
273      3  North       Ami   Folder        17         185
279      3   West      Lola      Pen        10         185
280      3   East   Jenifer   Pencil         5         186
283      3  North     Jimmy  Stapler        25         190

In [30]:
ds2

             PC laptop      mobile
processor    i9     i7  snapdragon
RAM        32GB    8GB         6GB
Memory      2TB    1TB         128

In [31]:
ds2.to_excel("electronic_acc.xlsx")